<table class ="table <%= table_type %>">
  <% events.each do |event| %>
    <tr>
      <td width="50%">
        開始時間：<%= event.start_at.strftime("%H:%M") %>
      </td>
      <td width="50%">  
        結束時間：<%= event.end_at.strftime("%H:%M") %>
      </td>
    </tr>   
  <% end %> 
</table>