<%= render :partial => "/layouts/navbar" %>
<div class="clear-fix"></div>
<div id="day_selection">
  <%= render :partial => "/places/day_selection", :locals => { date: 'today', distance: ""} %>
  </div>
<div class="clearfix"></div>
<%= user.fb_avatar %>
<%= "籃球" %>

<h4>主辦打球</h4>
