<!-- <div>
  <h3>
    <%# case params[:date] %>
    <%# when 'today' %>
      <
      今天
      <%#= link_to ">", place_path(@place.place_id, date: 'tomorrow'), :remote => "true" %>
    <%# when 'day_after' %>
      <%#= link_to "<", place_path(@place.place_id, date: 'tomorrow'), :remote => "true" %>
      後天
      >
    <%# when 'tomorrow' %>
      <%#= link_to "<", place_path(@place.place_id, date: 'today'), :remote => "true" %>
      明天
      <%#= link_to ">", place_path(@place.place_id, date: 'day_after'), :remote => "true" %>
       <%# else %>
      <
      今天
      <%#= link_to ">", place_path(@place.place_id, date: 'tomorrow'), :remote => "true" %>
    <%# end %>
  </h3>
</div>  -->