一定是哪邊出錯了你才會到這裡，趕快離開吧！
<%= link_to '首頁', places_path, class: "btn btn-link" %>

<div id="gyroViewer" style="width: 425px; height: 200px;"></div>
<%= render :partial => "places/place360img", :locals => {place_id: 06} %>
