#floating-panel {
  position: absolute;
  top: 10px;
  left: 15%;
  z-index: 5;
  background-color: #fff;
  text-align: center;
  font-family: 'Roboto','sans-serif';
}
#map {
  float: left;
  height: 80vh;
  width: 100%;
}