.close{
	display: none;
}

.centered{
	text-align: center;
}

.container{
	max-width: 1020px;
}
.marketing_tagline{
	color: white;
}

.background{
	z-index: -2
}

.content{
	z-index: 1
}

ul{
	margin: 0;
	padding-left: 0;
}

.container{
  max-width: 1000px;
  margin: 0 auto;
  padding-left: 8px;
  padding-right: 8px;
}

#logo{
	float:left;
}

nav{
	float:right;
}

nav li{
	float: left;
}

nav ul{
	list-style-type: none;
}

nav a{
	padding: 0 12px;
}

#call_to_action p{
  margin: 2px 16px 10px;
  font-size: 18px;
}

.white{
	color: white;
}

.small-text{
	font-size: 1.6rem;
  color: #BF0000;
  margin-top: -8px;
}

.current_day{
	padding: 0 20px 20px;
	margin: 0 0 -10px;
	border-width: 0 0 2px 0;
	border-style: solid;
	border-color: #BF0000;
}

.other_days{
	padding: 0 0 20px;
	margin: 0 0 -10px;
}
.small-text a{
	padding: 17px 28%;
  color: #555;
}
.small-text:nth-child(2) {
	border-width: 0 1px 0 1px;
	border-style: solid;
	border-color: #555;
}

.button-1{
  padding: 14px 4px;
  border-radius: 16px;
  width: 100%;
  margin: -12px auto 0;
  z-index: 2;
  opacity: 0.65;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: #BF0000;
  font-size: 2rem;
  line-height: 1;
  text-decoration: none;
  text-align: center;
  color: white;
  max-width: 480px;
  max-height: 45px;
}
.button-1 a{
	text-decoration: none;
	color: #FFF;
	padding: 10px 30%;
}

.navbar1 a{
	font-size: x-large;
	color: #BF0000;
}

.navbar2{
	min-height: 60px;
	border-width:0 0 25px 0 ;
	box-shadow:0 0 25px 0 rgba(0, 0, 0, 0.01), 0 0 18px 0 rgba(0, 0, 0, 0.1)
}

.day_selection{
	min-height: 50px;
}

.rectangle_pic{
	margin-left: -15px;
}

.rectangle_pic img{
	height: 10%;
}

.court_information{
	border-width:0 0 1px 0 ;
	border-color: #555;
}

.nearby_information img{
  max-height: 63px;
  margin-top: 6px;
  margin-right: 15px;
}    

.nearby_information{
	margin: 16px 0px 0px 0px;
}

.description{
	border-width:0 0 1px 0 ;
	border-color: #555;
}

.description p{
	margin: 0 15px;
}

.attended_events{
	background-color: orange;
	color: white;
}
// .indexbox img{
// 	width: 42%;
// }

// .shift-left{
// 	margin-left: -1%;
// }
.court_elements{
	display: inline-block;
	width: 100%;
	min-height: 48px;
  margin-top: 19px;
  margin-bottom: -22px;
  max-width: 425px;
  text-align: center;
}
.court_element{
	width: 24%;
	display: inline-block;
	position: relative;
	height: 48px;
}
.basket{
	height: 100%;
	width: 59%;
	left:0;
	bottom:0;
}
.indexbox{
	position: absolute;
	height: 100%;
	width: 40%;
	right: 0;
	top: -20px;
}
.indexbox2{
	position: absolute;
	height: 100%;
	width: 40%;
	right: 0;
	top: -25px;
}
.indexbox3{
	position: absolute;
	height: 100%;
	width: 40%;
	right: 0;
	top: -22px;
}
.index{
	position: absolute;
	right:10.5px;
	top: -20.5px;
	color:red;
}
.index2{
	position: absolute;
	right:11.5px;
	top: -24.5px;
	color:red;
}
.index4{
	position: absolute;
	right:10.5px;
	top: -26.5px;
}
@media (max-width: 425px){
	html {
    overflow-x: hidden; 
  }
    
	nav{
		display: none;
	}

	nav.open {
		display: block;
		float: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background: #ccc;
		text-align: center;
		padding-top: 50%;
	}
	nav li{
		float: none;

	}
}