<div class="cointainer day_selection">
  <div class="row">
    <h3>
      <% ['today', 'tomorrow', 'day_after'].each do |day| %>
        <div class="col-sm-4 col-xs-4 col-md-4 centered small-text">
          <% if day == date %>
            <div class="current_day">
              <%= t(day) %>
            </div>
          <% else %>
            <% case action %>
            <% when 'new_event' %>
              <%= link_to t(day), new_event_path(distance: distance, date: day, place_id: place_id), :remote => true %>
            <% when 'places' %>
              <%= link_to t(day), places_path(date: day, place_id: place_id, distance: distance), :remote => true %>
            <% when 'place' %>
              <%= link_to t(day), place_path(place_id, date: day, distance: distance), :remote => true %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </h3>
  </div> 
</div>
<div class="clearfix"></div>