<div id="footer">
  <div id="place_content">
    <div id="place_name"></div>
    <div id="place_rating"></div>
    <div id="place_distance"></div>
  </div>
  <div id="event_time">
  </div>
  <%= link_to '更多', places_path, class: "btn btn-link close", id: "more_events_link"%>
</div>


<div id="hidden_informations" style="display: none" href=<%= places_path %>></div>