<div id="footer">
  <div id="place_content" class="col-sm-12 col-xs-12 col-md-12">
    <div class="clearfix"></div>
      <div id="event">
    </div>
    <div id="place_name"></div>
    <div id="place_distance"></div>
  </div> 
  <div class="clearfix"></div>
  <hr>
  <div class="col-sm-9 col-xs-9 col-md-10">
    <div class="nearby_information pull-left">
      
    <!--   <img src="https://s3-ap-northeast-1.amazonaws.com/sportslinkpj/images/nearby.jpg" alt="nearby"> -->
      <!-- NearbyDrinks -->
      <!-- need your help to make the @place work. Don't know how to get the place data.  -->
      <% if @place.drink? %>
        <div class="drink">
          <img src="https://s3-ap-northeast-1.amazonaws.com/sportslinkpj/images/drink.png" alt="drink">
        </div>
      <% end %>

      <!-- NearbyRestroom -->
      <% if @place.restroom? %>
        <div class="restroom">
          <img src="https://s3-ap-northeast-1.amazonaws.com/sportslinkpj/images/restroom.png" alt="restroom">
        </div>
      <% end %>
      <!-- NearbyParking -->
      <% if @place.parking? %>
        <div class="parking">
          <img src="https://s3-ap-northeast-1.amazonaws.com/sportslinkpj/images/parking.png" alt="parking">
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-sm-3 col-xs-3 col-md-2 pull-right">
  	<%= link_to '更多', places_path, :class => "btn btn-default close", id: "more_events_link"%>
  </div>
  <div class="clearfix"></div>
</div>

<div id="hidden_informations" style="display: none"></div>