<div class="col-md-12 col-xs-12 col-sm-12">
  <div class="button-1 centered">
    <% if current_user.attended_events.find(event) %>
      <%= link_to '已參加！', events_path %>
    <% else %>
      <%= link_to '加入', join_event_path(event, :place_id => place_id, :date => date, :distance => distance), id: "join_event_link", method: "post" %>
    <% end %>
  </div>  
</div>    
<div class="pull-right">
  <h2>
    <%= event.start_at.strftime("%H:%M") %>
  <h2>
</div>