
<div class="col-xs-4 col-sm-4 col-md-4">
	<% if place.drink %>
	  <div class="drink">
	    <img src="https://s3-ap-northeast-1.amazonaws.com/sportslinkpj/images/drink.png" alt="drink">
	  </div>
	<% end %>
</div>
<div class="col-xs-4 col-sm-4 col-md-4">
	<% if place.restroom %>
	  <div class="restroom">
	    <img src="https://s3-ap-northeast-1.amazonaws.com/sportslinkpj/images/restroom.png" alt="restroom">
	  </div>
	<% end %>
</div>
<div class="col-xs-4 col-sm-4 col-md-4">
	<% if place.parking %>
	  <div class="parking">
	    <img src="https://s3-ap-northeast-1.amazonaws.com/sportslinkpj/images/parking.png" alt="parking">
	  </div>
	<% end %>
</div>