<% if place.drink %>
  <div class="drink pull-right">
    <img src="https://s3-ap-northeast-1.amazonaws.com/sportslinkpj/images/drink.png" alt="drink">
  </div>
<% end %>
<% if place.restroom %>
  <div class="restroom pull-right">
    <img src="https://s3-ap-northeast-1.amazonaws.com/sportslinkpj/images/restroom.png" alt="restroom">
  </div>
<% end %>
<% if place.parking %>
  <div class="parking pull-right">
    <img src="https://s3-ap-northeast-1.amazonaws.com/sportslinkpj/images/parking.png" alt="parking">
  </div>
<% end %>