<% if @events.present? %>
  <ul class="events centered list-group">
    <% @events.each do |event| %>
      <li class="list-group-item">
        <span class="pull-left">
          <%= event.start_at.strftime('%H:%M') %>   
        </span>
        <span class="tag tag-info tag-pill float-xs-right">
          1.5hr  (ready_to_go#EJ)
        </span>
        <span class="pull-right">
          <% if event.start_at > Time.now + 3600 * 8 %>
            <%= link_to '加入', event_path(event), class: "btn btn-link", method: 'PATCH' %>
          <% end %>
        </span>
      </li>
    <% end %> 
  </ul> 
<% end %>