console.log('sss')
var content = "<%= j render(:partial => 'event_time') %>"
console.log('sss')
$('#event_time').html(content);
console.log(content)


// $('#ispublic_check').on('change', function(){
//   $('#ispublic_schedule').toggleClass('hidden');
//   $('#select_access_authority').toggleClass('hidden');
// });
// $('#schedule_now').on('change', function(){
//   $('#schedule_time').toggleClass('hidden');
// });


// <div id="footer">
//   <div id="place_content">
//     <div id="place_name"></div>
//     <div id="place_rating"></div>
//     <div id="place_distance"></div>
//   </div>
// </div>