<%= render :partial => "/layouts/navbar", :locals => { place_id: '', date: 'today', distance: '' } %>
<div class="clear-fix"></div>
<div id="day_selection">
  <%= render :partial => "/places/day_selection", :locals => { place_id: '', date: 'today', distance: '', action: 'places'} %>
</div>
<div class="clearfix"></div>
<div id="call_to_action"></div>
<%= render :partial => "/events/map_index" %>
<div class="clearfix"></div>
<%= render :partial => "/places/footer" %>
<div class="clearfix"></div>

<script>
  $('.navicons a').each(function(index, element){
    if (index == 2) {
    }else{
      if (getURLParameter(element.href, 'place_id') == null) {      
        element.addEventListener("click", preventfromDefault);
        element.addEventListener("click", function(){
          if (getURLParameter(element.href, 'place_id') != null) {
            element.removeEventListener("click", preventfromDefault);
            element.click()
          }
        });
      }
    }
  });
  $('#day_selection a').each(function(index, element){
    if (getURLParameter(element.href, 'place_id') == null) {      
      element.addEventListener("click", preventfromDefault);
      element.addEventListener("click", function(){
        if (getURLParameter(element.href, 'place_id') != null) {
          element.removeEventListener("click", preventfromDefault);
          element.click()
        }
      });
    }
  });
  function preventfromDefault(event) {
    event.preventDefault();
    event.stopPropagation()
    $('#call_to_action').html('<p>Hey！<br />1.先在地圖上選擇附近的球場<br/> 2.然後選日期查看活動<br />3.搜索別的地點附近球場的資訊也可以喔！<br/>4.在這裡就可以秒速參加籃球鬥牛活動了！</p>')
  };
</script>  